@*
    /**
    * Author : Daniel Masci - 200299037
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Assignment 2 - ASP.NET Portfolio
    * Website Name : Comp2007_Project2.azurewebsites.net/Menu
    *
    * This is the Main Page for our Menu App. It lists all the items within
    * their appropriate categories (ItemType).
    *
    * ITEMS TAKEN FROM AN EXISTING RESTAURANT CHAIN (Kelsey's).
    */
*@


@using Comp2007_Project2.Models
@model IEnumerable<Item>

@{
    ViewBag.Title = "Menu";
    List<ItemType> types = new MenuEntities().ItemTypes.ToList();
}
@helper printItems(ItemType itemType)
{
    <div class="row @itemType.Name.ToLower()">
        <h2>@(itemType.Name)s</h2>
        <div class="container">
            @foreach (var item in Model.Where(t => t.ItemType.Name == itemType.Name))
            {
                <div class="item @(itemType.Name)s" id="item@(item.ItemId)">
                    <a href="/Menu/Details/@item.ItemId">
                        <div class="image">
                            @if (item.ItemLabel.Name != "")
                            {
                                <div class="label">@item.ItemLabel.Name</div>
                            }
                            <i class="fa fa-share-square-o"></i>
                            <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name" />
                        </div>
                        <div class="name">@item.Name <span class="price">($@(item.Price))</span></div>                        
                        <div class="desc">@item.ShortDescription</div>
                    </a>
                </div>
            }
        </div>
    </div>
}
<div class="interior-page menu-page" id="menu-page">
    <div class="items">
        <!-- Manually determine order of items -->
        @printItems(types.Single(t => t.Name == "Beverage"))
        @printItems(types.Single(t => t.Name == "Appetizer"))
        @printItems(types.Single(t => t.Name == "Main Course"))
        @printItems(types.Single(t => t.Name == "Dessert"))

        <!-- DB determines order of items -->
        @*@foreach (var type in types)
            {
                @printItems(type);
            }*@
    </div><!-- items -->
</div><!-- interior-page -->