@model Comp2007_Project2.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Review Cart";
}

<div class="interior-page" id="cart-page">
    <div class="container">

        <div id="update-message"></div>

        <div class="heading">
            <div class="go-back">
                <div class="button"><a href="/Store"><i class="fa fa-arrow-circle-left"></i> Go Back</a></div>
            </div>
            <div class="checkout top">
                <div class="button">
                    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
                </div>
                <div class="total">$@Model.CartTotal</div>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="items">
            @foreach (var item in Model.CartItems)
            {
                <div class="item">
                    <div class="left">

                    </div>
                    <div class="center info">
                        <div class="name">@item.Game.Name</div>
                        <div class="desc">@item.Game.Description</div>
                    </div>
                    <div class="right options">
                        <div class="row remove">                            
                            <span><a href="#" class="RemoveLink" data-id="@item.RecordId"><i class="fa fa-trash-o"></i></a></span>
                        </div>
                        <div class="row quantity">
                            <span>@item.Count</span>
                        </div>
                        <div class="row price">
                            <span>$@item.Game.Price</span>
                        </div>
                        <div class="clear-float"></div>
                    </div>
                </div>
            }
        </div>
        <div class="footing">
            <div class="checkout bottom">
                <div class="total">$@Model.CartTotal</div>
                <div class="button">
                    @Html.ActionLink("Checkout", "AddressAndPayment", "Checkout")
                </div>
            </div><div class="clear-float"></div>
        </div>
    </div>
</div>

