@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames3.azurewebsites.net/Manage/ChangePassword
    *
    * This is the page for users to change their passwords on
    */
*@

@model Comp2007_Project2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="interior-page forms-page" id="password-page">
    <div class="container">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            <h2>Change Password</h2>
            @Html.AntiForgeryToken()
            <div runat="server" id="ErrorContainer" class="error-container" visible="false">
                @Html.ValidationSummary("", new { @class = "error" })
            </div>
            <div class="cancel">
                <a href="/Home"><i class="fa fa-times"></i></a>
            </div>

            <div class="input-container">
                @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "" })
            </div>            
            <div class="input-container">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
            </div>
            <div class="submit button">
                <input type="submit" value="Update" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}