@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames3.azurewebsites.net/Store/Details
    *
    * This is the Details Page for our E-Commerce Store. It provides more details
    * about a specific game that has been selected to view.
    */
*@

@model Comp2007_Project2.Models.Game

@{
    ViewBag.Title = "Details";

}

<div class="interior-page store-page" id="details-page">
    <div class="container">
        <div class="button"><a href="/Store#game@(Model.GameId)"><i class="fa fa-arrow-circle-left"></i> Go Back</a></div>
        <div class="button">@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.GameId }, "")</div>
        <div class="right">
            <div class="info">
                <div class="name">@Model.Name</div>
                <div class="price">($@(Model.Price))</div>
                <div class="desc">@Model.Description</div>
                <div class="rating"><b>Rating:</b> @Model.Rating</div>
                <div class="platform"><b>Platform:</b> @Model.Platform.Name</div>
                <div class="release"><b>Release Date:</b> @Model.ReleaseDate</div>
            </div>
        </div>
        <div class="left">
            <div class="image">
                @if (Model.Label.Name != "")
                {
                    <div class="label">@Model.Label.Name</div>
                }
                <img src="@Model.ImageFullUrl" alt="@Model.Name" title="@Model.Name" />
            </div>
        </div>
        <div class="clear-float"></div><!--clear-float-->
    </div>
</div>

