@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)

    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames3.azurewebsites.net/Store/Index
    *
    * This is the Main Store Page for our E-Commerce Store. It lists all the games within
    * their appropriate categories (Platform).
    *
    * ITEMS TAKEN FROM EBGAMES WEBSITE
    */
*@


@using Comp2007_Project2.Models
@model IEnumerable<Game>

@{
    ViewBag.Title = "Store";
    List<Platform> platforms = new StoreEntities().Platforms.ToList();
}
@helper printItems(Platform Platform)
{
    <div class="group @Platform.Name.ToLower().Replace(" ", "-")">
        <h2>@Platform.Name</h2>
        <div class="container">
            @foreach (var game in Model.Where(p => p.Platform.Name.Contains(Platform.Name)))
            {
                <div class="game @Platform.Name.ToLower().Replace(" ", "-")" id="game@(game.GameId)">
                    <div class="add-to-cart">
                        <div class="quantity">0</div>
                        <div class="AddLink" data-id="@game.GameId"><i class="fa fa-plus-circle"></i></div>
                        <a href="/ShoppingCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <a href="/Store/Details/@game.GameId">
                        <div class="image">
                            @if (game.Label.Name != "")
                            {
                                <div class="label">@game.Label.Name</div>
                            }
                            <i class="fa fa-share-square-o"></i>
                            <img src="@game.ImageIconUrl" alt="@game.Name" title="@game.Name" />
                        </div>
                        <div class="name">@game.Name <span class="price">($@(game.Price))</span></div>
                        <div class="desc">@game.ShortDescription</div>
                    </a>
                </div>
            }
        </div>
    </div>
}
<div class="interior-page store-page" id="store-page">
    <div class="games">

        <!-- DB determines order of games -->
        @foreach (var type in platforms)
        {
            @printItems(type);
        }

    </div><!-- games -->
</div><!-- interior-page -->