@*
    /**
    * Authors : Emma Hilborn (200282755),
                Alex Friesen (200302342),
                Dan Masci (200299037),
                Karen Springford(200299681)
    * Class : Enterprise Computing
    * Semester : 4
    * Professor : Tom Tsiliopolous
    * Purpose : Final Team Project - E-Commerce Store
    * Website Name : EzGames3.azurewebsites.net/Checkout/AddressAndPayment
    *
    * This is the checkout page for our site, prompting users for their checkout information to process their order
    */
*@

@model Comp2007_Project2.Models.Order

@{
    ViewBag.Title = "Checkout";

}

<div class="interior-page forms-page" id="checkout-page">
    <div class="container">
        @using (Html.BeginForm())
        {
            <!-- In here show the order summary and total cost with tax included-->
            <h2>Checkout</h2>

            <div class="cancel">
                <a href="/ShoppingCart"><i class="fa fa-times"></i></a>
            </div>
            <p>
                All fields related to billing should be filled with your own information. If the game(s) are for you, please fill your address in 
                the shipping information. If the game(s) is/are a gift to someone else, please fill <i>their</i> information into the shipping information 
                if you want the game(s) delivered directly.
            </p>
            <div class="input-container">
                @Html.LabelFor(m => m.FirstName, new { @class = "" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.LastName, new { @class = "" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.Address, new { @class = "" })
                @Html.TextBoxFor(m => m.Address, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.City, new { @class = "" })
                @Html.TextBoxFor(m => m.City, new { @class = "" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.Province, new { @class = "" })
                @Html.TextBoxFor(m => m.Province, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Province, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.PostalCode, new { @class = "" })
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "" })
                @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.Country, new { @class = "" })
                @Html.TextBoxFor(m => m.Country, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.Phone, new { @class = "" })
                @Html.TextBoxFor(m => m.Phone, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "message" })
            </div>
            <div class="input-container">
                @Html.LabelFor(m => m.Email, new { @class = "" })
                @Html.TextBoxFor(m => m.Email, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "message" })
            </div>
            <!--
                Add another set of input container for mock payment
                Radio Button to choose VISA/MasterCard/AmericanExpress/DebitCredit 
                Card Number, Expire Number, Name on Card, Security Code 
                -->
            <p>
                <br/><br/>
                We're running a promotion: all Games are free
                with the promo code: "FREE"
                *shhh don't tell your gamer friends or else we run out of business*
            </p>
            <div class="checkbox">
                <label><input type="radio" name="payment" value="visa"> Visa</label><br/>
                <label><input type="radio" name="payment" value="mc"> MasterCard</label><br/>
                <label><input type="radio" name="payment" value="ae"> American Express</label><br/>
            </div>
            <div class="input-container">
                @Html.Label("Promo Code")
                @Html.TextBox("PromoCode")
            </div>
            <div class="submit button">
                <input type="submit" value="Submit Order" />
            </div>
        }
    </div>
</div>


